
<template>
  <div id="app" class="wrap">
    <h1>Bienvenido {{ shop_name }}</h1>
    <h2>Tu mejor cliente es: {{ cliente }}</h2>
    <p>{{ last_login }}</p>
   <!--  <ul>
      <li v-for="product in oxxo" v-bind:key="product">
        {{ product.product }}
        {{ product.icon }}
        {{ product.cant }}
      </li>
    </ul> -->
    <table>
      <thead>
        <td>Nombre:</td>
        <td>Codigo:</td>
        <td>Cantidad:</td>
      </thead>
      <tbody>
        <tr v-for="product in oxxo" v-bind:key="product">
          <td>{{ product.nombre }}</td>
          <td>{{ product.codigo }}</td>
          <td>{{ product.cantidad }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  name: "productosdatos",
  data: function() {
    return {
      shop_name: "cascarudolandia",
      cliente: "yo xd",
      last_login: "Ultima Actualizacion " + new Date().toLocaleString(),
      oxxo: null
    };

  },
  mounted () {
    this.$http
      .get('http://localhost:3000/productos')
      .then(response => {
        console.log(response);
        this.oxxo = response.data;
      })
      .catch(error => {
        console.error(error)
        this.errored = true
      })
      .finally(() => this.loading = false)
  }
};

</script>

<style>

#productosdatos {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
  padding:100px 100px 100px 100px;
    display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
    grid-template-areas:
    ". . d d d d d d d d . .";
}
ul {
  list-style: none;
}

div {
  background: whitesmoke;
  margin-top: 150px;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin: 100px 0px 0px 0px;
}
td{
  color:black;
}
td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
 .wrap   {
    background:white;
    grid-area: d;
    padding: 0px 300px;
  }
h1{
  text-align: center;
}
h2{
  text-align: center;
}
p{
  text-align: center;
}
</style>