body{
  background:white;

}

  h1{
      text-align: center;
  }
  h2{
    text-align: center;
  }
  
  .usuario{
  display: grid;
  grid-gap: auto;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
    grid-template-areas:
    ". . d d d d d d d d . ."; }
    
    {
    background:#def7f9;
    grid-area: d;
  }
  .productosventas {
    background:#def7f9;
    grid-area: v;
  }