table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
h1{
	text-align: center;
}
h2{
  text-align: center;
}
.usuario2{
display: grid;
grid-gap: auto;
grid-template-columns: repeat(12, 1fr);
grid-template-rows: auto;
  grid-template-areas:
  "t t t t t t t t t t t t"
  ". s s s s s s s s s s ."
  ". d d d d d d d d d d .";
}
.titulo {
  grid-area: t;
}
.subtitulo {
  border: 3px solid #dddddd;
margin: 100px 0px 0px 0px;
  background:white;
  grid-area: s;
}
.actividades {
  background:#def7f9;
  grid-area: d;
}