


table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
h1{
	text-align: center;
}
h2{
  text-align: center;
}

.usuario{
display: grid;
grid-gap: auto;
grid-template-columns: repeat(12, 1fr);
grid-template-rows: auto;
  grid-template-areas:
  "t t t t t t t t t t t t"
  ". . i i i i i i i i . ."
  ". . d d d d d d d d . ."
  ". . u u u u u u u u . ."
  ". . v v v v v v v v . .";
}
.titulo {
  grid-area: t;
}
.titulo2 {
 border: 3px solid #dddddd;
margin: 100px 0px 0px 0px;
  background:white;
  grid-area: i;
}
.titulo3 {
  border: 3px solid #dddddd;
  background:white;
  grid-area: u;
}
.productosdatos {
  background:#def7f9;
  grid-area: d;
}
.productosventas {
  background:#def7f9;
  grid-area: v;
}